<h2 class="title notification is-link">編輯個人資料及密碼</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label class="label"><%= f.label :email %></label>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <label class="label">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
    </label>
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
      <% if @minimum_password_length %>
        <em>至少輸入<%= @minimum_password_length %> 個字元作為密碼</em>
      <% end %>
    </div>
  </div>

  <div class="field">
    <label class="label">
      <%= f.label :password_confirmation %>
    </label>
    <div class="control">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
    </div>
  </div>

  <div class="field">
  <label class="label">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
  </label>
  <div class="control">
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit "儲存編輯", class: 'button is-link' %>
  </div>
<% end %>

<hr>
<i>使用不滿意?你可以... </i>
<h3 class="notification is-light">刪除帳號</h3>

<div>
<%= button_to "點我刪除帳號", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: 'button is-danger' %>
<%= link_to "回到首頁", :back, class: 'button is-light mt-3' %>
</div>


